.hero {
    background-image: linear-gradient(to bottom,rgb(207 250 254 / .7),rgb(207 250 254 / 0));
}

.hero .container {
    padding-top: 80px;
    text-align: center;
    max-width: 920px;
    margin: auto;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    position: relative;
}

@media (667px <=width<= 1020px) {
    .hero h1 {
        font-size: 2rem;
    }
}

@media (width<=667px) {
    .hero h1 {
        font-size: 1.4rem;
    }

    .hero h1 img {
        display: none;
    }
}

.hero h1 img {
    position: absolute;
    right: 150px;
    bottom: -20px;
}

.hero h1 span {
    color: rgb(37 99 235);
}

.hero p {
    margin: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(107 114 128);
}
